{% extends "base.html" %}
{% load static %}
{% block title %}
Список деталей
{% endblock title %}
{% block page_title %}
Список деталей			
{% endblock page_title %}
{% block upload %}
<li>
	<a id="upload-ads" href="#">
		<div class="button-icon">
			<i class="fas fa-cloud-upload-alt"></i>
		</div>
		<div class="button-text">Выгрузка</div>
	</a>
</li>
{% endblock upload %}
{% block mainpanel %}
<link rel="stylesheet" href="{% static "css/detals_list.css" %}">
<link rel="stylesheet" href="{% static "css/donor_panel.css" %}">
<div class="full-photo">
	<img src="{% static "img/nophoto.png" %}" alt="">
	<div class="close-button"><i class="fas fa-times"></i></div>
</div>
<div class="pag-panel" id="pag-panel">
	<ul class="pag-ul">
		<li class="prev-page"><a href="?page=1"><i class="fas fa-angle-double-left"></i></a></li>
		<li class="prev-page"><a href="?page={{active_page|add:-1}}"><i class="fas fa-chevron-left"></i></a></li>
		{% for num in page.page_range %}
		{% if  num == active_page %}
		<li class="not-active active">{{num}}</li>
		{% elif num > active_page|add:-2 and num < active_page|add:2 %}
		<li class="not-active"><a href="?page={{num}}">{{num}}</a></li>
		{% endif %}
		{% endfor %}
		<li class="next-page"><a href="?page={{active_page|add:1}}"><i class="fas fa-chevron-right"></i></a></li>
		<li class="prev-page"><a href="?page=22"><i class="fas fa-angle-double-right"></i></a></li>
	</ul>	
</div>
<div class="export-panel">
	<div class="close-panel" id="close-panel"><i class="fas fa-times"></i></div>
	<div class="setting-panels">
		<div class="one-panel-setting">
			<div class="logo "><img src="{% static "img/logo-sites/avito.jpg" %}" alt=""></div>
			<div class="input-fields">
				<input type="text" class="form-control" placeholder="Логин">
				<input type="text" class="form-control" placeholder="Пароль">
			</div>
			<div class="save-button"><i class="fas fa-check-square"></i></div>
			<div class="hide-button"><i class="fas fa-chevron-circle-right"></i></div>
		</div>
		<div class="one-panel-setting">
			<div class="logo"><img src="{% static "img/logo-sites/drom.png" %}" alt=""></div>
			<div class="input-fields">
				<input type="text" class="form-control" placeholder="Логин">
				<input type="text" class="form-control" placeholder="Пароль">
			</div>
			<div class="save-button"><i class="fas fa-check-square"></i></div>
			<div class="hide-button"><i class="fas fa-chevron-circle-right"></i></div>
		</div>
		<div class="one-panel-setting">
			<div class="logo"><img src="{% static "img/logo-sites/auto.ru.png" %}" alt=""></div>
			<div class="input-fields">
				<input type="text" class="form-control" placeholder="Логин">
				<input type="text" class="form-control" placeholder="Пароль">
			</div>
			<div class="save-button"><i class="fas fa-check-square"></i></div>
			<div class="hide-button"><i class="fas fa-chevron-circle-right"></i></div>
		</div>
		<div class="one-panel-setting">
			<div class="logo"><img src="{% static "img/logo-sites/Farpost.png" %}" alt=""></div>
			<div class="input-fields">
				<input type="text" class="form-control" placeholder="Логин">
				<input type="text" class="form-control" placeholder="Пароль">
			</div>
			<div class="save-button"><i class="fas fa-check-square"></i></div>
			<div class="hide-button"><i class="fas fa-chevron-circle-right"></i></div>
		</div>
		<div class="one-panel-setting">
			<div class="logo"><img src="{% static "img/logo-sites/jp.ico" %}" alt=""></div>
			<div class="input-fields">
				<input type="text" class="form-control" placeholder="Логин">
				<input type="text" class="form-control" placeholder="Пароль">
			</div>
			<div class="save-button"><i class="fas fa-check-square"></i></div>
			<div class="hide-button"><i class="fas fa-chevron-circle-right"></i></div>
		</div>
		<div class="one-panel-setting">
			<div class="logo"><img src="{% static "img/logo-sites/dacar.ico" %}" alt=""></div>
			<div class="input-fields">
				<input type="text" class="form-control" placeholder="Логин">
				<input type="text" class="form-control" placeholder="Пароль">
			</div>
			<div class="save-button"><i class="fas fa-check-square"></i></div>
			<div class="hide-button"><i class="fas fa-chevron-circle-right"></i></div>
		</div>
	</div>
	<div class="content-block">
		<div class="border-block sites">
			<div class="one-site disabled">
				<input disabled type="checkbox">
				<div class="logo-site"><img src="{% static "img/logo-sites/avito.jpg" %}" alt=""></div>
				<div class="title-site">Avito</div>
			</div>
			<div class="one-site">
				<input type="checkbox" checked>
				<div class="logo-site"><img src="{% static "img/logo-sites/drom.png" %}" alt=""></div>
				<div class="title-site">Drom</div>
			</div>
			<div class="one-site disabled">
				<input disabled type="checkbox">
				<div class="logo-site"><img src="{% static "img/logo-sites/auto.ico" %}" alt=""></div>
				<div class="title-site">Auto.ru</div>
			</div>
			<div class="one-site disabled">
				<input disabled type="checkbox">
				<div class="logo-site"><img src="{% static "img/logo-sites/Farpost.png" %}" alt=""></div>
				<div class="title-site">FarPost</div>
			</div>
			<div class="one-site disabled">
				<input disabled type="checkbox">
				<div class="logo-site"><img src="{% static "img/logo-sites/jp.ico" %}" alt=""></div>
				<div class="title-site">Japancar.ru</div>
			</div>
			<div class="one-site disabled">
				<input disabled type="checkbox">
				<div class="logo-site"><img src="{% static "img/logo-sites/dacar.ico" %}" alt=""></div>
				<div class="title-site">Dacar.ru</div>
			</div>
		</div>
		<div class="border-block list-ads">
			<div class="border-table">
				<table class="upload-ads-table">
					{% for detal in upload_detals %}
					<tr class="upload-tr" data-content="{{detal.detal.pk}}">
						<td class="delete"><div class="delete-button"><i class="fas fa-trash-alt"></i></div></td>
						<td>{{detal.detal.title}}</td>
						<td>{{detal.detal.donor_info}}</td>
						<td>{{detal.detal.price}}₽</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
		<div class="button-upload-panel">
			<button disabled class="btn btn-success" id="button_add_upload_detals">Добавить выбранные детали ( <span>0</span> )</button>
			<button class="btn btn-info" id="clear_list_upload">Очистить список</button>
		</div>
		<div class="full-info-panel">
			<div class="close-panel hide-button"><i class="fas fa-minus"></i></div>
		</div>
	</div>
</div>
<div class="mainpanel detals_list">
	<div class="filter-panel border-table hiden	">
		<div class="small">
			<div class="param">{{forms.filters.small.number}}</div>
			<div class="param">{{forms.filters.small.detal}}</div>
			<div class="param">{{forms.filters.small.mark}}</div>
			<div class="param">{{forms.filters.small.model}}</div>
			<div class="param">{{forms.filters.small.generation}}</div>
			<div class="param">{{forms.filters.small.stock}}</div>
			<div class="param">{{forms.filters.small.stock_param}}</div>
			<div class="param">{{forms.filters.small.price_min}}</div>
			<div class="param">{{forms.filters.small.price_max}}</div>
		</div>
		<div class="full">
				
		</div>
	</div>	
	<div class="list border-table">
		<div class="detals-table">
			<div class="head-table">
				<table>
					<tr >
						<th class="global"><i class="fas fa-globe"></i></th>
						<th class="checkbox"><input id="check-box-all" type="checkbox" name='all_select'></th>
						<th class="count-num">№</th>
						<th class="detal-number"><i class="fas fa-sort"></i>Номер детали</th>
						<th class="detal-title"><i class="fas fa-sort"></i>Деталь</th>
						<th class="detal-donor"><i class="fas fa-sort"></i>Автомобиль-донор</th>
						<th class="detal-desc">Описание</th>
						<th class="detal-stock"><i class="fas fa-sort"></i>Расположение</th>
						<th class="detal-stock-param"><i class="fas fa-sort"></i>Ячейка</th>
						<th class="detal-photo">Фото</th>
						<th class="detal-price"><i class="fas fa-sort"></i>Цена</th>
					</tr>
				</table>
			</div>
			<div class="body-table">
				<table>
				<tbody id="table-list-detals">
				{% for detal in all_detals %}
					
					<tr data-content="{{detal.detal.id}}" id="detal-in-list">
						<td class="global {% if detal.detal.uploaded == True %}on{% endif %}"><i class="fas fa-globe"></i></td>
						<td class="checkbox"><input id="check-box-detal" type="checkbox"></td>
						<td class="count-num">{{detal.count}}</td>
						<td class="detal-number">645GH2TD2</td>
						<td class="detal-title">{{detal.detal}}</td>
						<td class="detal-donor">{{detal.detal.donor_info}}</td>
						<td class="detal-desc">Описание</td>
						<td class="detal-stock">{{detal.detal.stockroom}}</td>
						<td class="detal-stock-param">Ячейка</td>
						<td class="detal-photo">
							<div class="mini-photo">
								<img src="{% static "img/image_mini.png" %}" alt="">
							</div>
							
						</td>
						<td class="detal-price">{{detal.detal.price}}₽</td>
					</tr>
				{% endfor %}
				</tbody>

				</table>
			</div>
		</div>
		<div class="control-panel">
			<div class="select-info">
				<table>
					<tr>
						<td>Выбрано деталей</td>
						<td>:</td>
						<td class="total-select-count">12</td>
					</tr>
					<tr>
						<td>На общую сумму</td>
						<td>:</td>
						<td><span class="total-select-price">0</span> ₽</td>
					</tr>
				</table>
			</div>
			<div class="button-block">
				<button id="upload-button" class="btn btn-primary">Выгрузить детали на площадки ...</button>
				<button class="btn btn-info" disabled>Перемещение</button>
				<button class="btn btn-success" disabled>Продажа</button>
				<button class="btn btn-danger" disabled>Списание</button>
			</div>
		</div>
	</div>
</div>
<script src="{% static "js/detals_list.js" %}"></script>
{% endblock mainpanel %}